- name: Update apt cache
  apt:
    update_cache: yes

- name: Upgrade all packages
  apt:
    upgrade: yes

- name: Install core packages
  apt:
    name:
      - accountsservice
      - build-essential
      - libx11-dev
      - libxft-dev
      - libxinerama-dev
      - lightdm
      - lxappearance
      - xorg
      - dbus-x11
      - x11-xserver-utils
      - xrdp
      - fonts-noto-cjk
      - fonts-noto-color-emoji
      - unzip
      - fontconfig
      - git
      - ffmpeg
      - p7zip-full
      - jq
      - poppler-utils
      - fd-find
      - ripgrep
      - fzf
      - zoxide
      - imagemagick
      - rofi
      - fcitx5-mozc
      - zsh
      - nitrogen
      - copyq
      - conky
      - network-manager-gnome
      - kitty
      - redshift
      - stow
    state: present

- name: enable sshd
  systemd:
    name: sshd.service
    state: started
    daemon_reload: yes
    enabled: yes
  become: yes

- name: enable docker
  systemd:
    name: docker.service
    daemon_reload: yes
    enabled: yes
  become: yes

