---

- name: Ensure the ~/.ssh directory exists
  file:
    path: "{{ home_dir }}/.ssh"
    state: directory
    mode: '0700'
  become: yes
  become_user: "{{ username }}"

- name: Add the public key to authorized_keys
  authorized_key:
    user: "{{ username }}"
    state: present
    key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"
  become: yes
  become_user: "{{ username }}"

